.mainContainer h1 {
  font-size: 2.5rem; /* Increase font size for headings */
  line-height: 3rem; /* Increase line height */
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem; /* Reduce bottom margin for headings */
  color: white; /* Choose a suitable text color */
}
.mainContainer h2 {
  font-size: 2rem;
  line-height: 2.5rem; /* Increase line height for readability */
  font-weight: 600; /* Slightly reduce font weight */
  margin-top: 1.5rem; /* Slightly reduce top margin */
  margin-bottom: 1rem;
  color: white;
}

.mainContainer h3 {
  font-size: 1.75rem; /* Slightly reduce font size for subheadings */
  line-height: 2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}

/* Image Styles */
.mainContainer img {
  display: block; /* Center images */
  width: 100%;
  margin: 0 auto;
  max-width: 100%; /* Ensure images don't overflow their containers */
  border-radius: 0.25rem; /* Slightly reduce border radius */
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
/* List Styles */
.mainContainer ul {
  font-weight: 500;
  margin-top: 1rem;
  font-size: larger;
  list-style-type: square; /* Use filled circles for unordered lists */
  list-style-position: inside;
}
.mainContainer ul li {
  margin-bottom: 0.3rem; /* Reduce bottom margin for list items */
  margin-left: 0; /* Remove left margin to bring items closer to text */
}
/* Link Styles */
.mainContainer a {
  font-style: italic;
  font-size: 1.4rem;
  line-height: 2rem; /* Increase line height for links */
  font-weight: 600;
  text-decoration: underline;
  color: white; /* Use a more prominent link color */
  transition: color 0.3s ease-in-out; /* Add a smooth color transition */
}
.mainContainer a:hover {
  color: #04f06a; /* Darken link color on hover */
}
.mainContainer a:after {
  color: #abebd2;
}
 .mainContainer p {
  font-size: large;
  font-weight: 400;
}
