@tailwind base;
@tailwind components;
@tailwind utilities;


::selection{
    background-color:#d3c1c3a4;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Thumb (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Change to your desired color */
    border-radius: 6px;
  }
  
  /* Track on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Change to your desired hover color */
  }
  
  /* Track background */
  ::-webkit-scrollbar-track {
    background: #ABEBD2; /* Change to your desired background color */
  }
